.hiweb-fields-form {
	fieldset:not(:first-child) {
		.hiweb-field_separator {
			margin-top: 2.4em;
		}
	}
}

.hiweb-field_separator {

	margin-bottom: 1em;
	border-bottom: 1px dashed #ccc;

	.hw-field-separator-title {
		margin: 4px 0;
		padding: 0 !important;
		font-weight: 700;

		&.has-description {
			margin-bottom: 0;
			padding-bottom: 0;
		}

		&.no-description {
			margin-bottom: .2em;
			padding-bottom: 0;
		}
	}

	h1.hw-field-separator-title {
		font-size: 1.8em;
	}

	h2.hw-field-separator-title {
		font-size: 1.6em;
	}

	h3.hw-field-separator-title {
		font-size: 1.4em;
	}

	h4.hw-field-separator-title {
		font-size: 1.2em;
	}

	.hw-field-separator-description {
		margin: 0;
		font-style: italic;
	}

	svg {
		font-size: 1em;
		height: 1em;
		display: inline-block;
		vertical-align: bottom;
	}

}

form {
	.hiweb-field-type-separator:first-child {
		margin-top: 0;
	}
}