.DS_Store
.idea/codeStyles/codeStyleConfig.xml
.idea/composerJson.xml
.idea/deployment.xml
.idea/dictionaries/d9251.xml
.idea/dictionaries/denisivanin.xml
.idea/hiweb-core-4.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/Generated_files.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/webServers.xml
