.hiweb-field_post .selectize-input {
  padding: .4em;
  line-height: 1;
  -webkit-transition: border-bottom 0.2s ease-in-out;
  -moz-transition: border-bottom 0.2s ease-in-out;
  -o-transition: border-bottom 0.2s ease-in-out;
  transition: border-bottom 0.2s ease-in-out;
  width: 100%;
  max-width: 800px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #ccd0d4;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 8px 8px;
  line-height: 18px; }
  .hiweb-field_post .selectize-input:focus {
    stroke: none;
    border-bottom-color: #007cba; }
  .hiweb-field_post .selectize-input::-webkit-input-placeholder {
    color: #ccd0d4;
    font-weight: 100; }
  .hiweb-field_post .selectize-input:-moz-placeholder {
    color: #ccd0d4;
    font-weight: 100; }
  .hiweb-field_post .selectize-input::-moz-placeholder {
    color: #ccd0d4;
    font-weight: 100; }
  .hiweb-field_post .selectize-input:-ms-input-placeholder {
    color: #ccd0d4;
    font-weight: 100; }
.hiweb-field_post input[placeholder]::-webkit-input-placeholder {
  color: #ccd0d4;
  font-weight: 100; }
.hiweb-field_post input[placeholder]:-moz-placeholder {
  color: #ccd0d4;
  font-weight: 100; }
.hiweb-field_post input[placeholder]::-moz-placeholder {
  color: #ccd0d4;
  font-weight: 100; }
.hiweb-field_post input[placeholder]:-ms-input-placeholder {
  color: #ccd0d4;
  font-weight: 100; }
.hiweb-field_post .selectize-dropdown {
  z-index: 100105; }
.hiweb-field_post .item.ui-sortable-handle {
  cursor: move !important; }
.hiweb-field_post div.active.item.ui-sortable-helper {
  border: 1px solid #007cba;
  cursor: move;
  -webkit-transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, box-shadow 200ms ease-in-out, filter 200ms ease-in-out;
  -moz-transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, box-shadow 200ms ease-in-out, filter 200ms ease-in-out;
  -o-transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, box-shadow 200ms ease-in-out, filter 200ms ease-in-out;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, box-shadow 200ms ease-in-out, filter 200ms ease-in-out;
  transform: scale(1.02);
  z-index: 10000 !important;
  -webkit-box-shadow: 8px 14px 25px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 8px 14px 25px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 8px 14px 25px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 8px 14px 25px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: saturate(180%) brightness(120%) blur(10px);
  backdrop-filter: saturate(180%) brightness(120%) blur(10px); }

/*# sourceMappingURL=post.css.map */
