.hiweb-field-type-checkbox {
  position: relative;
}
.hiweb-field-type-checkbox .name, .hiweb-field-type-checkbox .description {
  padding-left: 60px;
}
.hiweb-field-type-checkbox .hw-input-checkbox {
  position: absolute;
  top: 0;
}

@keyframes motionblur {
  15% {
    width: 19px;
    margin-left: 0;
  }
  50% {
    width: 24px;
    margin-left: -3px;
  }
  85% {
    width: 19px;
    margin-left: 0;
  }
}
.hiweb-field-type-checkbox .checkbox {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.hiweb-field-type-checkbox .checkbox + label {
  cursor: pointer;
  line-height: 2.5em;
}
.hiweb-field-type-checkbox .checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.hiweb-field-type-checkbox .checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
}
.hiweb-field-type-checkbox .checkbox:not(checked) + label:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #fff;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out 0ms;
  -moz-transition: all 0.2s ease-in-out 0ms;
  -o-transition: all 0.2s ease-in-out 0ms;
  transition: all 0.2s ease-in-out 0ms;
}
.hiweb-field-type-checkbox .checkbox:not(checked) + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background: rgba(114, 119, 124, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.hiweb-field-type-checkbox .checkbox:checked + label {
  color: #007cba;
}
.hiweb-field-type-checkbox .checkbox:checked + label:before {
  background: #007cba;
}
.hiweb-field-type-checkbox .checkbox:checked + label:after {
  left: 26px;
  background: #fff;
}
.hiweb-field-type-checkbox .checkbox:focus + label:after {
  animation-duration: 0.3s;
  animation-name: motionblur;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}
.hiweb-field-type-checkbox .radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.hiweb-field-type-checkbox .radio + label {
  cursor: pointer;
}
.hiweb-field-type-checkbox .radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.hiweb-field-type-checkbox .radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.hiweb-field-type-checkbox .radio:not(checked) + label:before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #007cba;
  border-radius: 50%;
  background: #fff;
}
.hiweb-field-type-checkbox .radio:not(checked) + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #007cba;
  box-shadow: inset 0 1px 1px #000;
  opacity: 0;
  transition: all 0.2s;
}
.hiweb-field-type-checkbox .radio:checked + label:after {
  opacity: 1;
}
.hiweb-field-type-checkbox .radio:focus + label:before {
  box-shadow: 0 0 0 3px #000;
}

/*# sourceMappingURL=Field_Checkbox.css.map */
