@import "../../../css/Fields_UI";

.hiweb-field_color {

	input[type="text"] {
		@include fields_ui_text-input_oneline;
		max-width: 200px;
	}

	.sp-original-input-container .sp-add-on {
		position: relative;
		border-radius: 0 !important;
		width: 35px !important;

		.sp-colorize {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
		}
	}

}