@import "mixins";

.plugins_page_hiweb-components .hiweb-components-fields-form-wrap {
	padding: 1em 0;

	label, .component__label, .component__description {
		display: block;
		@include transition(color);
	}

	.component__label {
		font-size: 1.2em;
		font-weight: 500;
	}
}

.wp-admin {
	svg {
		width: 1.2em;
		height: 1em;
	}
}