@import "../../css/Fields_UI";


.hiweb-field_images {

	border: 1px solid $fields_color_border;
	background-color: $fields_color_white;

	.images-top-panel {
		background-color: $fields_color_grey_white;
		border-bottom: 1px solid $fields_color_border;
		height: 28px;

		.images-top-panel-label {
			line-height: 28px;
			float: left;
			padding: 0 .4em;
		}

		[data-constrol-wrap] {
			float: right;

			a {
				display: inline-block;
				width: 24px;
				height: 24px;
				margin: 2px 1px 0 1px;

				svg {
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}

	[data-click]:focus {
		outline: none;
		box-shadow: none;
	}

	&[data-images-count="0"] {
		[data-images-wrap] {
			display: none;
		}

		[data-message="empty"] {
			display: block;
		}

		[data-click="clear"], [data-click="shuffle"], [data-click="revert"] {
			display: none !important;
		}
	}

	.ui-sortable-placeholder {
		@include transition();
	}

	[data-images-wrap] {
		@include transition();
		width: 100%;
		padding: .2em 0;
		@include display-flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: flex-start;
	}

	[data-message="empty"] {
		text-align: center;
		padding: 4em 0;
		display: none;
	}

	[data-image-plus] {
		position: relative;
		z-index: 5;
		margin: .2em 0;
		width: 0;
		@include transition(opacity);

		&:hover {
			@include transform(scale(1.1));
		}

		.over-wrap {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 10px;
		}

		a {
			@include vertical_middle();
			width: 24px;
			height: 24px;
			display: block;

			svg {
				max-width: 100%;
				max-height: 100%;
			}
		}

		&[data-image-plus="0"] {
			.over-wrap {
				left: 0;
			}

			a {
				left: -10px;
			}
		}

		&[data-image-plus="1"] {
			.over-wrap {
				right: 0;
			}

			a {
				right: -10px;
			}
		}
	}

	[data-source-image] {
		display: none;
	}

	[data-image-plus], [data-item-image], [data-source-image] {
		height: 140px;
	}

	.ui-sortable-placeholder {
		width: unset !important;
	}

	[data-item-image], [data-source-image], .ui-sortable-placeholder {
		max-width: 180px;
		min-width: 120px;
		position: relative;
		margin: .2em;
		flex-grow: 1;
		background: $fields_color_white url(../../../../assets/img/pattern-4.png) 50% 50%;
		background-size: cover;
		@include fields_ui_shadow_panel;
		cursor: pointer;

		&:before {
			content: '';
			@include transition();
			@include position_stretch_2(3px);
			@include fields_backdrop_blur(0, 100%, 100%);
			display: none;
		}

		[data-image-control-wrap] {
			@include transition();
			@include opacity(0);
			@include display-flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			justify-content: center;
			flex-grow: 1;
			max-width: 100%;
			width: 60px;
			text-align: center;
			@include vertical_middle();
			position: relative;
			margin: 0 auto;

			a {
				display: inline-block;
				width: 26px;
				height: 24px;
				margin: 2px;

				svg {
					max-width: 100%;
					max-height: 100%;
					display: inline-block;
					vertical-align: -webkit-baseline-middle;
				}
			}
		}

		&:hover {
			[data-image-control-wrap] {
				@include opacity(1);
			}

			&:before {
				@include fields_backdrop_blur(5px, 120%, 120%);
				background-color: rgba($fields_color_white, .5);
				display: block;
			}
		}
	}

	&[data-images-count-id="many"] {
		[data-item-image], [data-source-image] {
			max-width: 120px;
			min-width: 80px;
		}

		[data-image-plus], [data-item-image], [data-source-image] {
			height: 80px;
		}
	}

	&[data-images-count-id="medium"] {
		[data-item-image], [data-source-image] {
			max-width: 160px;
			min-width: 120px;
			height: 100px;
		}

		[data-image-plus], [data-item-image], [data-source-image] {
			height: 110px;
		}
	}

}